<div class="row attempts">
  <h1>Choose your level:</h1>
  <a onclick="initialize_game(8,1)">Difficult</a>
  <a onclick="initialize_game(12,2)">Middle</a>
  <a onclick="initialize_game(15,3)">Low</a>
</div>